---
layout: default
---
<head>

<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Lato:900">
    <style>
      body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        background: #c9cacc;
      }
    </style>

<link rel="stylesheet" href="https://fonts.typotheque.com/WF-030613-010151.css" type="text/css" />
    <style>
      h2 {
        font-family: "Wind SW";
        font-style: Normal;
        font-weight: 100;
        font-size: 192px;
        color: #00B900
        }
    </style>

</head>

<body>
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
</body>